@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TECNO PAULY LE PONE :D la mejor tiendita online

    TECNO PAULY VA A SER LA MEJOR TIENDITA ONLINE
    </h1>
</div>
