@{ ViewData["Title"] = "Home Page";
       Layout = "~/Views/Shared/_LayoutClientes.cshtml"; }

    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        POTO DE TIMON
                                    </h1>
                                    <p>
                                        escribir bonito
                                    </p>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="images/slider-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Bienvenidos a Tecnopauly
                                    </h1>
                                    <p>
                                        Donde podrás encontrar variedades de productos de tecnología.
                                    </p>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="images/slider-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Novedades
                                    </h1>
                                    <p>
                                        Aquí encontrarás productos recién llegados.
                                    </p>
                                    <a href="">
                                        Leer más
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="images/slider-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn_box">
                <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>


<!-- product section -->

<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Nuestro Productos
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/pesacocina.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Agregar al Carrito
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Pesa de Cocina
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 5.000
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/tripodecelular.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Agregar al Carrito
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Tripode para Celular
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 6.000
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/p3.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Agregar al Carrito
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Product Name
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 300
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/p4.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Add To Cart
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Product Name
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 300
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/p5.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Add To Cart
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Product Name
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 300
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/p6.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Add To Cart
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Product Name
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 300
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/p7.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Add To Cart
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Product Name
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 300
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/p8.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Add To Cart
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Product Name
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 300
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="images/p9.png" alt="">
                        <a href="" class="add_cart_btn">
                            <span>
                                Add To Cart
                            </span>
                        </a>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Product Name
                        </h5>
                        <div class="product_info">
                            <h5>
                                <span>$</span> 300
                            </h5>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_box">
            <a href="" class="view_more-link">
                View More
            </a>
        </div>
    </div>
</section>

<!-- end product section -->
