@model IngenieriaSoftware.Models.DatoTablaModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class="card-title">
        <h2>  Ingresar Producto</h2>
    </div>
    <div class="form-group row ml-3">
        <form asp-controller="Ingresar"
              asp-action="IngresarProducto"
              method="post"
              class="form-row"
              role="form"
              id="ingresar-producto-form"
              onkeydown="pnPreventSubmitOnEnter(event)"
              data-ajax="true">
            <label class="mr-2 col-12">
                Nombre Producto
            </label><input asp-for="NombreProducto" />
            <label class="mr-2 col-12">
                Categoría
            </label><input asp-for="Categoria" />
            <label class="mr-2 col-12">
                Descripción
            </label><input asp-for="Descripcion" />
            <label class="mr-2 col-12">
                Código
            </label><input asp-for="Codigo" />
            <label class="mr-2 col-12">
                Precio de costo $
            </label><input asp-for="PrecioCosto" />
            <label class="mr-2 col-12">
                Precio de venta $
            </label><input asp-for="PrecioVenta" />
            <button id="ingresar-producto-btn"
                    style="width:700px"
                    class="btn btn-primary btn-sm ml-4 col-12"
                    type="submit"
                    title="Ingresar-Producto">
                Agregar Nuevo Producto
            </button>
        </form>
    </div>
        
    
    
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Ingresar/ingresar.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
