@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class="card-title">
        <h2>  Ingresar Productos</h2>
    </div>
    <div class="form-group row ml-3">
        <form>
            <label class="mr-2 col-12">
                Nombre Producto
            </label><input />
            <label class="mr-2 col-12">
                Categoría
            </label><input />
            <label class="mr-2 col-12">
                Descripción
            </label><input />
            <label class="mr-2 col-12">
                Código
            </label><input />
            <label class="mr-2 col-12">
                Precio de costo $
            </label><input />
            <label class="mr-2 col-12">
                Precio de venta $
            </label><input />
        </form>
    </div>
    <span class="ml-4" style="width:700px">
        <button class="btn btn-primary btn-sm">Agregar Nuevo Producto</button>
    </span>
    
    
</div>




<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>