@model IngenieriaSoftware.Models.RegistrarModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
    <div class="card-title">
        <h2>Registre su cuenta</h2>
    </div>
    <form asp-controller="Register"
          asp-action="RegisterControl"
          method="post"
          role="form"
          id="register-form"
          onkeydown="pnPreventSubmitOnEnter(event)"
          >

        <label class="mr-2 col-12">
            Nombre
        </label><input asp-for="nombre" />
        <label class="mr-2 col-12">
            Correo
        </label><input asp-for="correo" />

        <label class="mr-2 col-12">
            Usuario
        </label><input asp-for="username" />

        <label class="mr-2 col-12">
            Contraseña
        </label><input asp-for="pass" />
        <button id="Register-btn"
                style="width:700px"
                class="btn btn-primary btn-sm ml-4 col-12"
                type="submit"
                title="Register">
            Registrarse
        </button>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Ingresar/ingresar.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive-main/src/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@*<script src="~/lib/sweetalert/sweetalert2.js"></script>
<script src="~/js/Forms/registrar.js"></script>*@