/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #BC40B1;
    border-color: #BC40B1;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        color: #fff !important;
        background-color: #2e0259 !important;
        border-color: #2e0259 !important;
    }
    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
    }
.btn-primary2 {
    color: #fff;
    background-color: #DC143C;
    border-color: #DC143C;
}

    .btn-primary2:hover, .btn-primary2:active, .btn-primary2:focus {
        color: #fff !important;
        background-color: #2e0259 !important;
        border-color: #2e0259 !important;
    }

    .btn-primary2:focus, .btn-primary2.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
    }
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}
#tablaAdmin_filter {
    border-color: #F2F2F2;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
    border-radius: 25px;
    display: flex;
    justify-content: flex-end;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #BC40B1;
    border-color: #BC40B1;
}
a.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #BC40B1;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
