@model IngenieriaSoftware.Models.LoginModel 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form 
asp-controller="Login" 
asp-action="Login"
method="post"
role="form"
id="login-form"
onkeydown="pnPreventSubmitOnEnter(event)"
data-ajax="true"
class="px-4 py-3">
    <div class="form-group">
        <label for="email">Usuario</label><br>
        <input asp-for=user class="form-control" id="email" placeholder="John Doe">
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type=password asp-for=password class="form-control" id="password" placeholder="Contraseña">
    </div>
    <center>
    <div class="contt5 container">
        <div class="row align-self-center">
            <div>
                <button class="btn btn-primary"
                        id="login-btn"
                        type="submit"
                        title="Login"
                        style="background-color: #BC40B1; border-color: #2E0259">
                        Iniciar Sesión
                </button>
            </div>
        </div>
        <div class="contt4">
            <span id="error" style=""> </span>
        </div>
    </div>
    </center>
</form>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#registerModal" data-bs-toggle="modal" data-bs-target="#registerModal">¿Eres nuevo? Regístrate!</a>
<a class="dropdown-item" href="#forgotModal" data-bs-toggle="modal" data-bs-target="#forgotModal">¿Olvidaste tu contraseña? Click aquí.</a>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Ingresar/ingresar.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive-main/src/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>