@model IngenieriaSoftware.Models.RegistrarModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="ibox-content" style="border-color:white" id="register-tab-form">

    <div class="sk-spinner sk-spinner-cube-grid">
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
                                    <div class="sk-cube"></div>
    </div>
<form 
asp-controller="Register"
asp-action="RegisterControl"
method="post"
role="form"
id="register-form"
onkeydown="pnPreventSubmitOnEnter(event)"
data-ajax="true"
data-ajax-begin="registrarbegin()"
data-ajax-success="registrarsuccess()"
data-ajax-failure="registrarfailure()"
class="px-4 py-3">
    <div class="form-group">
        <label for="email">Nombre</label><br>
        <input asp-for="nombre" class="form-control" id="nombre-register-form" placeholder="Cosme">
    </div>
    <div class="form-group">
        <label for="email">Correo electrónico</label><br>
            <input asp-for=correo class="form-control" id="email-register-form" placeholder="email@ejemplo.com">
    </div>
    <div class="form-group">
        <label for="email">Usuario</label>
        <input asp-for=username class="form-control" id="usuario-register-form" placeholder="Usuario con el que ingresará a su cuenta">
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type=password asp-for=pass class="form-control" id="password-register-form" placeholder="Contraseña">
    </div>
    <center>
        <div class="contt5 container">
            <div class="row align-self-center">
                <div>
                    <button class="btn btn-primary"
                            id="register-btn"
                            type="submit"
                            title="register"
                            style="background-color: #BC40B1; border-color: #2E0259">
                                Registrarse
                    </button>
                </div>
            </div>
        </div>
        <div class="contt4">
            <span id="error" style=""> </span>
        </div>
    </center>
</form>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#loginModal" data-bs-toggle="modal" data-bs-target="#loginModal">¿Ya tienes una cuenta? Inicia sesión!</a>
</div>